body {
	font-family: Cooper Black;
	font-size: 18pt;
	background: url(bg1.jpg);
	background-size: cover;
	background-attachment: fixed;
  }
  h1 {
	background: url(bg.jpg);
	padding: 2% 2% 2% 2%;
	text-align: center;
	color: #2260AA;
	text-shadow:silver 2px 2px 3px;
	border-radius:  20px 20px 20px 20px;
	transition: .7s;
	box-shadow:#336699  3px 3px 6px;
  }
  h1:hover {
	color: deeppink;
	text-shadow:#336699  5px 5px 2px;
  }
  p {
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 2%;
	padding: 2% 2% 2% 2%;
	font-size: 110%;
	text-align: center;
  }
  #info{
	color: white; 
	text-shadow:#102360 2px 0px 5px;
	text-align: left;
	margin-left: 30%;
  }
  #image{
	width:400px;
	height:400px;
	border-radius: 2%;
	border: 2px solid darkcyan;

  }
   img {
    transition:1s;
	box-shadow:#336699  3px 3px 6px;
  }
  img:hover {
	transform: scale(1.1, 1.1);
	
  }
  ul {
	color: azure;
	border-radius:  10px 10px 10px 10px;
	padding: 2% 2% 2% 2%;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 2%;
	padding: 2% 2% 2% 2%;
	font-size: 14pt; 
	text-shadow:#102360 2px 0px 10px;
	background: url(bg.jpg);
	border-radius:  20px 10px 5px 0;
	box-shadow:#336699  3px 3px 6px;
	}
  b {
	color: crimson;
	text-shadow:tan 2px 0px 5px;
  }
  a{
	color:crimson;
	text-shadow:black 2px 2px 3px;
	transition: .7s;
  }
  a:hover{
	color: deeppink;
	text-shadow:black 7px 7px 3px;
  }
  a:active {
	color: purple;
	text-shadow:black 7px 7px 3px;
  }
  h3 {
	color: tan;
	font-size: 24pt;
	text-align:center;
	text-shadow:black 3px 3px 4px;
	transition: .7s;
  }
  h3:hover {
	color: deeppink;
	font-size: 24pt;
	text-align:center;
	text-shadow:black 3px 3px 4px;
  }

  #mrnobody {
	margin-top: 2%;
	width:800px;
	height:400px;
	border-radius: 2%;
	box-shadow:#336699  3px 3px 6px;
  }
  #black {
	color: seashell;
	text-shadow:#203077 2px 0px 10px;
	background: url(bg.jpg);
	border-radius:  20px 10px 5px 0;
	box-shadow:#336699  3px 3px 6px;
  }
  #bigfish {
	margin-top: 2%;
	width:400px;
	height:500px;
	border-radius: 2%;
	box-shadow:#336699  3px 3px 6px;
  }
  #list {
	color: #FFE047;
	text-shadow:#102360 2px 0px 5px;
  }